.text-left {
    text-align: left;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-start {
    text-align: start;
  }
  
  .text-end {
    text-align: end;
  }

  .text-cancel {
    --tw-text-opacity: 1;
    color: rgb(79, 106, 79) ;
  }

  .hover\:text-blue:hover {
    --tw-text-opacity: 1;
    color: blue;
  }
  
  .hover\:text-green:hover {
    --tw-text-opacity: 1;
    color: green;
  }
  
  .hover\:text-cancel:hover {
    --tw-text-opacity: 1;
    color: #9ca3af ;
  }
  
  .hover\:text-gray:hover {
    --tw-text-opacity: 1;
    color: gray;
  }
  